# ADABOOST
- AdaBoost can be used to boost the performance of any machine learning algorithm. It is best used with weak learners. These are models that achieve accuracy just above random chance on a classification problem.

In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
import warnings
warnings.filterwarnings('ignore')

In [2]:
hr = pd.read_csv('HR Analytics.csv')
hr.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
new_hr = hr.drop('Attrition',axis=1)
new_hr

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,...,1,80,0,8,0,1,6,4,0,5
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,...,4,80,1,10,3,3,10,7,1,7
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,...,2,80,0,7,3,3,0,0,0,0
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,...,3,80,0,8,3,3,8,7,3,0
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,...,4,80,1,6,3,3,2,2,2,2
5,32,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,4,...,3,80,0,8,2,2,7,7,3,6
6,59,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,3,...,1,80,3,12,3,2,1,0,0,0
7,30,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,4,...,2,80,1,1,2,3,1,0,0,0
8,38,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,4,...,2,80,0,10,2,3,9,7,1,8
9,36,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,3,...,2,80,2,17,3,2,7,7,7,7
10,35,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,1,...,3,80,1,6,5,3,5,4,0,3
11,29,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,4,...,4,80,0,10,3,3,9,5,0,8
12,31,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,1,...,4,80,1,5,1,2,5,2,4,3
13,34,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,2,...,3,80,1,3,2,3,2,2,1,2
14,28,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,3,...,2,80,0,6,4,3,4,2,0,3
15,29,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,2,...,3,80,1,10,1,3,10,9,8,8
16,32,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,1,...,4,80,2,7,5,2,6,2,0,5
17,22,Non-Travel,1123,Research & Development,16,2,Medical,1,22,4,...,2,80,2,1,2,2,1,0,0,0
18,53,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,1,...,3,80,0,31,3,3,25,8,3,7
19,38,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,4,...,3,80,0,6,3,3,3,2,1,2
20,24,Non-Travel,673,Research & Development,11,2,Other,1,26,1,...,4,80,1,5,5,2,4,2,1,3
21,36,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,3,...,2,80,0,10,4,3,5,3,0,3
22,34,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,1,...,3,80,0,13,4,3,12,6,2,11
23,21,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,3,...,4,80,0,0,6,3,0,0,0,0
24,34,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,2,...,3,80,0,8,2,3,4,2,1,3
25,53,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,3,...,4,80,1,26,3,2,14,13,4,8
26,32,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,2,...,2,80,0,10,5,3,10,2,6,7
27,42,Travel_Rarely,691,Sales,8,4,Marketing,1,35,3,...,4,80,1,10,2,3,9,7,4,2
28,44,Travel_Rarely,477,Research & Development,7,4,Medical,1,36,1,...,4,80,1,24,4,3,22,6,5,17
29,46,Travel_Rarely,705,Sales,2,4,Marketing,1,38,2,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,Travel_Frequently,688,Research & Development,4,2,Life Sciences,1,2025,4,...,2,80,3,18,3,3,4,2,0,2
1441,56,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2026,3,...,1,80,1,13,2,2,13,12,1,9
1442,29,Travel_Rarely,1092,Research & Development,1,4,Medical,1,2027,1,...,2,80,3,4,3,4,2,2,2,2
1443,42,Travel_Rarely,300,Research & Development,2,3,Life Sciences,1,2031,1,...,1,80,0,24,2,2,22,6,4,14
1444,56,Travel_Rarely,310,Research & Development,7,2,Technical Degree,1,2032,4,...,4,80,1,14,4,1,10,9,9,8
1445,41,Travel_Rarely,582,Research & Development,28,4,Life Sciences,1,2034,1,...,3,80,1,21,3,3,20,7,0,10
1446,34,Travel_Rarely,704,Sales,28,3,Marketing,1,2035,4,...,4,80,2,8,2,3,8,7,1,7
1447,36,Non-Travel,301,Sales,15,4,Marketing,1,2036,4,...,1,80,1,15,4,2,15,12,11,11
1448,41,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,3,...,3,80,1,14,5,3,5,4,0,4
1449,32,Travel_Rarely,529,Research & Development,2,3,Technical Degree,1,2038,4,...,4,80,0,4,4,3,4,2,1,2
1450,35,Travel_Rarely,1146,Human Resources,26,4,Life Sciences,1,2040,3,...,3,80,0,9,2,3,9,0,1,7
1451,38,Travel_Rarely,345,Sales,10,2,Life Sciences,1,2041,1,...,3,80,1,10,1,3,10,7,1,9
1452,50,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2044,2,...,4,80,2,12,3,3,6,3,0,1
1453,36,Travel_Rarely,1120,Sales,11,4,Marketing,1,2045,2,...,1,80,1,8,2,2,6,3,0,0
1454,45,Travel_Rarely,374,Sales,20,3,Life Sciences,1,2046,4,...,3,80,0,8,3,3,5,3,0,1
1455,40,Travel_Rarely,1322,Research & Development,2,4,Life Sciences,1,2048,3,...,4,80,0,8,2,3,2,2,2,2
1456,35,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,3,...,4,80,2,10,2,4,10,2,0,2
1457,40,Travel_Rarely,1194,Research & Development,2,4,Medical,1,2051,3,...,2,80,3,20,2,3,5,3,0,2
1458,35,Travel_Rarely,287,Research & Development,1,4,Life Sciences,1,2052,3,...,4,80,1,4,5,3,4,3,1,1
1459,29,Travel_Rarely,1378,Research & Development,13,2,Other,1,2053,4,...,1,80,1,10,2,3,4,3,0,3
1460,29,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,4,...,2,80,0,5,3,1,5,4,0,4
1461,50,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,4,...,2,80,1,20,3,3,3,2,2,0
1462,39,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,2,...,1,80,1,21,2,2,20,9,9,6
1463,31,Non-Travel,325,Research & Development,5,3,Medical,1,2057,2,...,2,80,0,10,2,3,9,4,1,7
1464,26,Travel_Rarely,1167,Sales,5,3,Other,1,2060,4,...,4,80,0,5,2,3,4,2,0,0
1465,36,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,3,...,3,80,1,17,3,3,5,2,0,3
1466,39,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,4,...,1,80,1,9,5,3,7,7,1,7
1467,27,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,2,...,2,80,1,6,0,3,6,2,0,3
1468,49,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,4,...,4,80,0,17,3,2,9,6,0,8
1469,34,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,2,...,1,80,0,6,3,4,4,3,1,2

In [7]:
hr_dummies = pd.get_dummies(new_hr)
hr_dummies['Attrition'] = hr['Attrition']
hr_dummies.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes,Attrition
0,41,1102,1,2,1,1,2,94,3,2,...,0,1,0,0,0,1,1,0,1,1
1,49,279,8,1,1,2,3,61,2,2,...,1,0,0,0,1,0,1,1,0,0
2,37,1373,2,2,1,4,4,92,2,1,...,0,0,0,0,0,1,1,0,1,1
3,33,1392,3,4,1,5,4,56,3,1,...,1,0,0,0,1,0,1,0,1,0
4,27,591,2,1,1,7,1,40,3,1,...,0,0,0,0,1,0,1,1,0,0

In [9]:
train , test = train_test_split(hr_dummies, test_size=0.3, random_state=100)
from sklearn.metrics import confusion_matrix

In [12]:
train_y = train['Attrition']
test_y= test['Attrition']
train_x= train.drop('Attrition', axis=1) # for row wise operation using col
test_x= test.drop('Attrition',axis=1)

In [13]:
model= AdaBoostClassifier(random_state=100)
model.fit(train_x,train_y)
test_pred = model. predict(test_x)
tn,fp,fn,tp = confusion_matrix(test_y,test_pred).ravel()
print(tn)
print(fp)
print(fn)
print(tp)

352
19
43
27

In [14]:
accuracy= (tp+tn)/(tp+tn+fp+fn)
accuracy

0.8594104308390023

In [15]:
sensitivity=tp/(tp+fn)
sensitivity

0.38571428571428573

In [16]:
specificity=tn/(fp+tn)
specificity

0.9487870619946092